#content
{
	font-family: "Comic Sans MS", cursive, sans-serif !important;
	margin: 50px auto;
	width: 500px;
}

.center
{
	text-align: center;
}

label
{
	font-size: x-large;
	font-weight: bold;
}

textarea
{
	font-family: "Comic Sans MS", cursive, sans-serif !important;
	font-size: x-large;
	resize: none;
	width: 100%;
}

input
{
	font-family: "Comic Sans MS", cursive, sans-serif !important;
	font-size: x-large;
}

	input[type='text']
	{
		width: 100%;
	}

#Output
{
	background-color: whitesmoke;
	border: 1px solid #ccc;
}