﻿@model Model
@using (Html.BeginForm(nameof(HomeController.Index), HomeController.Name, FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<div>
		@Html.LabelFor(x => x.Text)
		<div>
			@Html.TextAreaFor(x => x.Text, new { rows = 5 })
		</div>
	</div>
	<br />
	<div>
		@Html.LabelFor(x => x.SubText)
		<div>
			@Html.TextBoxFor(x => x.SubText, new { autocomplete = "off" })
		</div>
	</div>
	<br />
	<div class="center">
		<input type="submit" value="Find Positions" />
	</div>
	<br />
	<div>
		@Html.LabelFor(x => x.Output)
		<div>
			@Html.TextBoxFor(x => x.Output, new { @readonly = "" })
		</div>
	</div>
}