﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@nameof(TextMatch)</title>
	<link rel="stylesheet" href="~/Styles/main.css">
</head>
<body>
	<div id="content">
		@RenderBody()
	</div>
</body>
</html>